<html>
<head>
	<meta charset="UTF-8">
	<title>このアプリについて</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div id="container">
		<h1>このアプリについて</h1>
		<p>アプリの説明文です</p>
		<div class="btn1">
			<a href="index.html">戻る</a>
		</div>
	</div>
</body>
</html>