<html>
<head>
	<meta charset="UTF-8">
	<title>確認画面</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div id="container">
		<h1>以下の内容を送信しました</h1>
		<p>メールアドレス: <%=@email%></p>
		<p>お問い合わせ内容: <%=@message%></p>
		<p>ありがとうございました</p>
		<img src="thankyou.png">
		<br clear="left">
		<div class="btn1">
			<a href="/">TOPに戻る</a>
		</div>
	</div>
</body>
</html>